body {
   color: #2b283a;
   font-size: 1rem;
   font-family: "Roboto", sans-serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
}
 
/* TYPEOGRAPHY */
h1 {
    color: whitesmoke;  
    font-size: 2rem; 
 }

h2 {
    font-size: 1.5rem;
}
 
h3 {
    color: #d0aaff;
    font-size: 1.25rem;
    margin: 0;
 }

body, h1, h3 {
    margin:0;
}

p {
    font-size: 1rem;
    line-height: 23px;
}

/* LINKS */
a {
    color: #ef5839;   
    text-decoration-line: underline;
    text-decoration-style: dotted;
}

a:hover, a:active {
    color: #d4b44c;
}

/* CONTENT */
header, section, footer {
    padding: 45px 0;
}

.btn {
    display: inline-block;
    border-radius: 4.6px;
    padding: 10px 19px;
    font-weight: 500;
    text-decoration: none;
}

.btn:hover, 
.btn:active {
    background-color: #f3e885;
    color: #2b283a;
}

.btn-buy {
    background-color: #5f29a3;
    color: whitesmoke;
}

.btn-info, .btn-contact {
    background-color: #f0e0ff;
}

.btn-about {
    background-color: whitesmoke;
}

.btn-info, .btn-about, .btn-contact {
    color: #5f29a3;
}

.container {
    width: 620px;
    margin: 0 auto;
}

.img-sneaker {
    width: 100%;   
}

header, .crypto-connoisseur {
    background-color: #5f29a3;
}

.crypto-connoisseur {
    color: whitesmoke;   
}

.imgs-crypto {
    display: flex;
    justify-content: space-between;
}

.img-crypto {
    width: 300px;
    border-radius: 4.6px;
}

footer {
    font-size: 1rem;
    color: #5f29a3;
    text-align: center;
}

