body {
   color: #2b283a;
   font-size: 1rem;
   font-family: "Roboto", sans-serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
   margin: 0;
}

 header {
    background-color: #5f29a3;
    padding: 45px 0px;
 }
 
/* TYPEOGRAPHY */
 h1 {
    color: whitesmoke;  
    font-size: 2rem; 
    margin: 0;
 }

h2 {
    margin: 0;
    font-size: 1.5rem;
}
 
h3 {
    color: #d0aaff;
    font-size: 1.25rem;
    margin: 0;
 }

p {
    font-size: 1rem;
}

/* LINKS */
a {
    color: #ef5839;   
    text-decoration-line: underline;
    text-decoration-style: dotted;
}

a:hover, a:active {
    color: #d4b44c;
}

/* CONTENT */
.container {
    width: 620px;
    margin: 0 auto;
}

section {
    padding: 45px 0;
}

.img-sneaker {
    width: 100%;   
}

.crypto-connoisseur {
    color: whitesmoke;
    background-color: #5f29a3;    
}

.imgs-crypto {
    display: flex;
    justify-content: space-between;
}

.img-crypto {
    width: 300px;
    border-radius: 4.6px;
}

footer {
    font-size: 1rem;
    color: #5f29a3;
    text-align: center;
    padding: 45px 0;
}